@charset "UTF-8";

#selectPanel {
  margin-left: 10px;
}

#selectPanel > li {
  margin: 5px;
  text-align: center;
  width:150px;
}

#detailsPanel {
  padding:5px;
  border: 3px solid #005500;
}

.listCaption {
  margin-left:50px;
}

.animalList > li > label {
  cursor: pointer;
}

html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}
