@charset "UTF-8";

.diffDel {
  background-color:#f00;
}

.diffAdd {
  background-color:#0f0;
}

#preview-diff {
  white-space:pre-wrap;
  padding:3px;
  background-color:#ddd;
  color:#000;
}

#preview-tab, #preview-code, #preview-diff { /* preview segments are invisible by default */
  display:none;
}