@charset "UTF-8";

.filter {
  width: 700px;
  font-size: 8pt;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #151;
  border-bottom: 1px solid #151;
  margin-bottom: 10px;
}

.filter a {
  padding: 0px 10px 0px 10px;
  color: white;
}

/* initial state, when no bookmarks are used */
#whisperingBookmarks {
  display: none;
}

#whisperingBookmarks input {
  width: 20px;
  border: 1px solid #070;
  margin-left: 5px;
  line-height: 15px;
  padding: 0;
}

#whisperingBookmarks > div {
  display: inline-block;
  margin: 4px;
}

#messageFieldNode {
  vertical-align:top;
}

#messageField {
  width: 440px;
  box-sizing: border-box;
}

#submitTalkNode {
  vertical-align: top;
}

#submitTalk {
  width: 240px;
  line-height: 20px;
}

.eventsMessageColumn {
  display: inline-block;
}

.eventsSubmitMessageColumn {
  display: inline-block;
}

.messageFormContainer {
  overflow: auto;
}

@media all and (max-width:768px) {
  .eventsMessageColumn, .eventsSubmitMessageColumn {
    width: 100%;
  }
  .eventsSubmitMessageColumn {
    margin:15px 0;
  }

  #submitTalk {
    width: 100%;
  }

  #messageField {
    width: 100%;
  }
}

.eventsListButtons {
  text-align: right;
}

/* fix for FireFox, because something doesn't work with textareas */
@-moz-document url-prefix() {
    #messageField {
        height: 1em;
    }
}
