@charset "UTF-8";

.front-page-title-big {
  font-size:28pt;
  margin-bottom:0px;
  margin-top:10px;
  text-align:center;
}

.front-page-title-medium {
  font-size:12pt;
  margin-top:0px;
  text-align:center;
}

.front-page-txt {
  margin:5px;
  font-size:12pt;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  text-align: justify;
  line-height: 135%;
}

.front-page-video {
  margin:10px;
  text-align:center;
}

.front-page-register {
  border: 1px solid #007700;
  box-shadow: 0px 0px 10px #008800;
  padding: 0px 2px 2px;
  font-size:18pt;
  font-variant: small-caps;
  background-color: #006000;
}

.small-rect {
  border: 3px solid #005500;
  margin: 2px;
  padding: 3px;
}

.small-rect-header {
  font-variant: small-caps;
  background: #006600;
  text-align:center;
}

.front-page-bottom-menu {
  margin-top:10px;
  text-align:center;
}

.front-page-login-box {
  display:inline-block;
  text-align:right;
  margin:auto;
}

.front-page-news {
  margin-left:-10px;
  font-size:9pt;
}

.front-page-links {
  font-size:12pt;
  margin-left:-10px;
  margin:0px;
  list-style-type:none;
  font-variant: small-caps;
}

.lang-sel {
  text-align:left;
  margin:auto;
  width:130px;
  background:rgba(0,20,0,0.93);
  padding:2px;
}

.front-page-root {
  margin: auto;
  background: rgba(0, 68, 0, 0.82);
  padding:2px;
  width:800px;
}

.main-column {
  vertical-align: top;
  display:inline-block;
  width:68%;
}

.menu-column {
  display:inline-block;
  width:30%;
}

@media all and (max-width:810px) {
  .front-page-root {
    width: 96%;
  }

  .main-column, .menu-column {
    width:100%;
  }
}


#twitter_div {
	font-size: 8pt;
	margin-top:5px;
}

#twitter_update_list  {
  margin-left:-20px;
}

#twitter_update_list  li {
  margin-top:5px;
}

#twitter_div ul li span {
	display: inline;
}
 
#twitter_div ul li span a {
	display: inline;
}