@charset "UTF-8";
@import "responsive-form";

.form-year-value {
  width: 60px;
}

.character-creation-box {
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
}

#email {
  text-transform: lowercase;
}

#firstname, #lastname, #country, #charname1 {
  text-transform: capitalize;
}

#comment {
  min-width: 45%;
}

.register-form-error-message {
  margin-left: 5px;
  color: red;
  font-size: 9pt
}

.reactivation-option {
  padding: 3px;
  background-color: #050;
  border: 1px #050 solid;
}

.reactivation-option {
  display: none;
}

@media all and (max-width: 768px) {

  .register-form-error-message {
    display: block;
    margin-left: 50%;
    padding-left: 5px;
  }

  .register-form-success-icon {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .register-form-error-message {
    margin-left: 0;
    padding-left: 0;
  }
}

.responsive-form-header.title {
  display: none;
}

.responsive-form-header.title.current {
  display: block;
}

.steps ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.steps li {
  width: 25%;
  background-color: #020;
  height: 3em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-radius: 15px;
}

.steps li.current {
  background-color: #16c;
  font-weight: bolder;
}

.steps li.done {
  background-color: #048;
}

.steps li a {
  pointer-events: none;
  cursor: default;
  color: #fff;
}

span.current-info.audible {
  display: none;
}

#registration-form-wizard-h-0 { // hide title of the first pseudo-step
  display: none;
}

.register-back-button {
  line-height: 45px;
  font-size: 20px;
  padding-top: 0;
  padding-right: 20px;
}