@charset "UTF-8";

.responsive-form-row {
  margin-top: 20px;
}

.responsive-form-label {
  width: 30%;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}

.responsive-label-top {
  vertical-align: top;
}

.responsive-label-bottom {
  vertical-align: top;
}

.responsive-form-value {
  display: inline-block;
  max-width: 60%;
}

.responsive-form-value-option {
  display: block;
  cursor: pointer;
}

.responsive-form-header {
  margin-left: 30%;
}

@media all and (max-width: 768px) {
  .responsive-form-label {
    width: 50%;
  }

  .responsive-form-value {
    width: 40%;
  }

  .responsive-form-header {
    margin-left: 0;
  }
}

@media all and (max-width: 480px) {
  .responsive-form-label {
    width: 99%;
    text-align: left;
  }

  .responsive-form-value {
    width: 85%;
  }
}