@charset "UTF-8";

.action-buttons {
  white-space: nowrap;
}

@media all and (max-width: 480px) {
  .action-buttons {
    white-space: normal;
  }

  .action-buttons-2 {
    width: 66px;
  }

  .action-buttons-3, .action-buttons-5, .action-buttons-6, .action-buttons-9, .action-buttons-10 { /* 3 cols */
    width: 100px;
  }

  .action-buttons-4, .action-buttons-7, .action-buttons-8 { /* 4 cols */
    width: 135px;
  }
}
