@charset "UTF-8";
@import "base";

.titlebar {
  width: 700px;
  background-color: #007000;
  margin: 20px auto;
  padding: 2px 2px;
  text-align: center;
  box-shadow: 2px 2px 1px #116611;
}

a {
  color: #4e4;
  text-decoration: none;
}

center table, .page, .page-left {
  text-align: justify;
  background: rgba(0, 58, 0, 0.9);
  box-shadow: 3px 3px 10px #004000, -3px -3px 10px #003A00, 3px -3px 10px #003000;
}

#navigationPanel {
  display: table;
  width: auto;
  text-align: center;
  padding-top: 10px;
}

#navigationSubpanel {
  padding: 3px;
}

/* BEGIN all buttons */
.button_action, .button_charmenu, .button_charmenuactive, .button_charmenu_unavailable, .button_charmenuactive_unavailable {
  background-color: #060;
  color: #4f4;
  cursor: pointer;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: none;
  box-shadow: 1px 1px 3px #070;
  line-height: 18px;
  padding: 1px 4px;
}

.button_charmenu_unavailable {
  background-color: #252;
  color: #595;
  box-shadow: 1px 1px 3px #226622;
}

.button_charmenuactive_unavailable {
  background-color: #afb7a7;
  color: #38413a;
  box-shadow: 1px 1px 3px #226622;
}

a.button_charmenu, a.button_charmenuactive {
  text-decoration: none;
}

.button_charmenuactive {
  background-color: #6b6;
  color: #040;
  font-style: italic;
  box-shadow: 1px 1px 3px #6b6;
}

a.button_charmenuactive {
  color: #040;
}

/* END all buttons */

#character_menu, #player_menu {
  width: 260px;
  background: rgba(0, 58, 0, 0.86);
  box-shadow: 3px 3px 10px #004000, -3px -3px 10px #003A00, 3px -3px 10px #003000;
}

#player_menu {
  width: 190px;
}

.message-date {
  color: #44EE44;
}

.message-reply-to {
  margin-left: 7px;
}

/*
 * Responsive styles
 */

@media all and (max-width: 768px) {
  .page, .page-left {
    width: auto;
    padding: 10px 4px;
  }

  #navigationPanel {
    display: block;
    min-width: unset;
  }

  .titlebar {
    width: auto;
  }

  #eventsList > div {
    width: auto;
  }

  #charName, #locName {
    width: 100%;
  }

  #navigationPanel input, #navigationSubpanel > a {
    margin: 6px 2px;
  }

  .playerLinksColumn {
    width: 100%;
  }

  .playerInfoColumn {
    width: 100%;
  }

  .playerInfoColumn > table {
    margin: 10px 20px;
  }

  .accessListColumn {
    width: 100%;
  }

  .locationDescription > div {
    display: inline-block;
    width: 100%;
  }

  .locationDescription {
    text-align: center;
  }

  .locationDescriptionRaws {
    margin: 20px 0;
    max-width: 100%;
  }

  .locationDescriptionRawsInside {
    display: inline-block;
  }

  .locationDescriptionTerrain {
    float: none;
  }

  .skillsColumn {
    width: 100%;
  }

  .huntingContainer div {
    width: 100%;
    margin: 10px 0;
  }

  .domesticationAnimals, .domesticationPanel {
    width: 100%;
  }

  #character_menu, #player_menu {
    padding: 0;
  }
}

@import "object-actions";

@media all and (min-width: 769px) {
  body {
    background: #004400 url('/graphics/cantr/pictures/bg.jpg') no-repeat center top;
  }

  #navigationPanel {
    min-width: 700px;
  }
}

@import "like-bootstrap";

@import "jquery-ui";

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #052e05;
  border: 1px solid #052e05;
  color: #4e4;
  font-weight: 400;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #4e4;
  text-decoration: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: #4e4;
  border: 1px solid #f9dd34;
  color: #363636;
}
