@charset "UTF-8";

BODY {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: left;
  color: #000;
  background-color: #FCFCFC;
  margin: 0;
}

BODY CENTER {
  text-align: left;
}

/* BEGIN Override standard buildmenu.css */
li > a {
  color: #00D !important;
  text-decoration: none !important;
}

li > a > .linkannt {
  color: #66D !important;
  font-size: 8pt !important;
}

/* END */

/* BEGIN overrides for the projects and project info pages */
.project_worked_on {
  color: #000;
  margin: 0;
}

.project_not_worked_on {
  color: #999;
  margin: 0;
}

.project_self_works_on {
  color: #06F;
  margin: 0;
}

.tool {
  color: #000;
}

.tool_missing {
  color: #999;
}

.project_resources_list {
  font-size: 7pt;
  word-spacing: 2px;
}

.raw_missing {
  color: #999;
}

/* END */

/* BEGIN "Cantr II" on the top of every page */
.header-title {
  font-size: 24pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.small-top {
  font-size: 8pt;
}

.tiny-top {
  font-size: 7pt;
}

/* END "Cantr II" on the top of every page */

/* BEGIN manual events broadcaster */
dl {
  width: 100%;
  overflow: hidden;
}

dd, dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

/* END manual events broadcaster */

.centered {
  text-align: left;
  margin-left: 20px;
}

TD, .txt {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.cnt {
  background-color: #fff;
}

.p-txt {
  margin: 0;
}

ul.plain {
  margin: 0;
  list-style-type: none;
}

.register-small {
  margin: 0px 0px 0px 20px;
  font-size: 8pt;
}

.register-nec {
  color: #ff9700;
}

.txt-title {
  text-shadow: 2px 2px 2px #999;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.txt-label {
  color: #8855dd;
  font-size: 8pt;
}

TD {
  font-size: 9pt !important;
}

.titlebar {
  width: 690px;
  background-color: #ccc;
  display: block;
  margin: 10px 0;
  padding: 2px 0;
  text-align: center;
}

.inlined-icon {
  margin-bottom: -0.25em;
  height: 1.25em;
  width: auto;
}

.weatherIcon {
  height: 2em;
  width: auto;
  filter: brightness(60%);
}

.errorbar {
  background-color: #dbb;
  margin: 10px auto;
  padding: 15px;
  display: inline-block;
}

.errorbar a {
  color: #990;
}

#eventsList {
  min-height: 30px;
  padding: 4px;
}

#eventsList > div {
  word-wrap: break-word;
  width: 700px;
}

a:link, a:visited, a:active {
  color: #00d;
  text-decoration: none;
}

a:hover {
  color: #00d;
  text-decoration: underline;
}

CENTER TABLE {
  text-align: justify;
}

.page, .page-left {
  width: 700px;
}

.page {
  text-align: justify;
}

.page-left {
  text-align: left;
}

.page > table, .page-left > table {
  width: 100%;
}

.charInfoCaptionColumn {
  width: 20%;
}

.charInfoDataColumn {
  width: 70%;
}

.charInfoButtonColumn {
  width: 10%;
}

.playerLinksColumn, .playerInfoColumn {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.accessListColumn {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

#navigationPanel {
  display: table;
  width: auto;
  text-align: center;
}

#navigationPanel input, #navigationSubpanel > a {
  margin: 2px 0;
  display: inline-block;
}

#navigationSubpanel {
  padding: 3px;
}

.locationDescription {
  overflow: auto;
}

.locationDescription > div {
  display: inline-block;
  vertical-align: top;
}

.locationDescriptionRaws {
  max-width: 28%;
}

.locationDescriptionRaws li {
  margin: 5px;
}

.locationDescriptionTerrain {
  width: 152px;
  float: right;
}

#mapImage {
  max-width: 100%;
}

.rawsList {
  text-align: left;
}

.skillsColumn {
  display: inline-block;
  width: 50%;
}

.huntingAnimals, .huntingWeapon {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.domesticationAnimals, .domesticationPanel {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.peopleTableButtons {
  white-space: nowrap;
  width: 0;
}

LI {
  list-style-image: none;
}

/* Color for active projects etc - it's done by html, not css so !important is ok */
TABLE TBODY TR TD FONT FONT[color="#cccccc"] {
  color: #606 !important;
}

/* BEGIN fixed position errors list */
#errorsList {
  position: fixed;
  width: 210px;
  top: 20px;
  right: 5px;
  list-style-type: none;
}

.errorMessage {
  padding: 8px;
  margin: 7px;
  background-color: #dbb;
}

/* END fixed position errors list */

/* BEGIN used on the page "player" */

.subcategory {
  text-decoration: underline;
  line-height: 200%;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.characterOnList {
  color: #000;
  cursor: pointer;
}

.characterOnList-inactive {
  color: #777;
}

/* END used on the page "player" */

/* BEGIN retrieve page */

#objectsList > tbody .ui-sortable-helper {
  cursor: move;
}

/* END retrieve page */

/* BEGIN used on page "character settings" */

div.cantrdivlist {
  overflow: auto;
  margin: 4px;
}

div.greenListItem {
  background-color: #006600;
  color: #00f300;
  cursor: pointer;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: none;
  width: 145px;
  margin: 8px;
  padding: 5px;
  text-align: center;
}

div.greenListItemactive {
  cursor: pointer;
  margin: 8px;
  padding: 5px;
  text-align: center;
  background-color: #00f300;
  color: #006600;
  width: 145px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: none;
}

.toolbarPanel {
  background-color: #006600;
  color: #006600;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid green;
  margin: 4px;
  padding: 4px;
}

.toolbarPanel img {
  cursor: pointer;
  border: 1px solid green;
}

/* END used on page "character settings" */

/* BEGIN all buttons */
.button_action, .button_charmenu, .button_charmenuactive, .button_charmenu_unavailable, .button_charmenuactive_unavailable {
  background-color: #DDD;
  color: #00F;
  cursor: pointer;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid blue;
  border-radius: 2px;
  line-height: 22px;
  padding: 0 2px;
}

.button_charmenu_unavailable {
  background-color: #225522;
  color: #559955;
  font-weight: bold;
}

.button_charmenuactive_unavailable {
  background-color: #afb7a7;
  color: #38413a;
}

a.button_charmenu, a.button_charmenuactive {
  padding: 1px 9px 1px 9px;
  text-decoration: none;
}

.button_charmenuactive {
  background-color: #BBB;
  color: #000;
  font-style: italic;
  border-radius: 2px;
  line-height: 22px;
  padding: 0 2px;
}

/* END all buttons */

#character_menu, #player_menu {
  text-align: left;
}

BODY TABLE TBODY TR TD {
  text-align: left;
}

form {
  display: inline;
}

label {
  cursor: inherit;
}

img {
  border: 0;
}

PRE {
  background-color: #FCFCFC;
  border: 1px solid #000;
  font-size: 9pt;
  padding-left: 5px;
  margin: -1px;
}

/* BEGIN signs for buildings&vehicles */
p.sign, p.sign_inline {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 8pt;
  color: #000;
}

p.sign {
  padding-left: 3em;
}

p.sign_inline {
  display: inline;
  padding-left: 1em;
}

/* END signs for buildings&vehicles */

/* BEGIN label for NDS one people page */
.people-label {
  font-size: 8pt;
}

/* END label for NDS on people page */

.charPersDesc {
  margin-left: 10px;
  font-size: 8pt;
}

.underline {
  text-decoration: underline
}

.crossbutton {
  position: relative;
  top: -2px;
  width: 21px;
  height: 21px;
  float: right;
}

#footer_panel {
  font-size: 8pt;
  word-spacing: 0.25em;
}

.message-date {
  color: #0066FF;
}

.message-reply-to {
  margin-left: 7px;
}

/* change images to grey ones */

/* END action&projects */

/* BEGIN tiny icons */
input[type="image"], img {
  filter: grayscale(1) brightness(1.35);
  -webkit-filter: grayscale(1) brightness(1.35);
}

/* END tiny icons */

/*
 * Public messages
 */

.messageContent img {
  max-width: 90%;
  height: auto;
  display: block;
}

.basic_toolbar {
  padding: 3px 5px;
  margin: 2px;
}

/*
 * Configurable elements of events page chardesc box
 */

#charTabs, #locationTab {
  margin-top: 10px;
}

#charAdditionalDesc {
  width: 100%;
  min-height: 48px;
}

#changeNameDescConfirm, #changeLocNameConfirm {
  float: right;
}

#charName, #locName, #charAdditionalDesc {
  background-color: #eee;
}

.charTabPage {
  min-height: 100px;
}

input.button_whisper {
  color: #aaa;
  background-color: #666;
}

.charStateBar > div {
  margin-top: 8px;
  display: inline-block;
  vertical-align: bottom;
}

.charStateBar > .stateName {
  width: 120px;
}

#charStateDamage, #charStateTiredness {
  display: inline-block;
  width: 350px;
  height: 13px;
  margin-right: 5px;
}

#charStateDamage {
  background-color: #bbb;
}

#charStateTiredness {
  background-color: #bbb;
}

#charStateDamage > div {
  background-color: #844;
  border-width: 0px;
}

#charStateTiredness > div {
  background-color: #484;
  border-width: 0px;
}

#charName {
  width: 400px;
}

#buttonToolbar {
  margin-bottom: 0;
  float: right;
}

#buttonToolbar img {
  margin-right: 2px;
  cursor: pointer;
}

.toolbarButtonsGap {
  width: 10px;
  display: inline-block;
}

/*
 * Call-to-action buttons
 */

.ctaContainer {
  text-align: center;
  margin: 50px 5px;
}

.cta {
  display: inline-block;
  background-color: #eb3;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0 7px 0 #a63;
  font-size: 20pt;
  line-height: 35px;
  font-variant: small-caps;
}

a.ctaLink {
  color: #000;
}

.cta:hover {
  background-color: #e0A24C;
}

.cta:active {
  box-shadow: 0 3px 0 #a63;
  position: relative;
  top: 4px;
}

.ctaWithArrow {
  padding: 10px 20px 10px 37px;
}

.ctaWithArrow::after {
  content: " »";
}

/*
 * Responsive styles
 */

@media all and (max-width: 768px) {
  .page, .page-left {
    width: auto;
    padding: 0 4px;
  }

  #navigationPanel {
    display: block;
    min-width: unset;
  }

  .titlebar {
    width: auto;
  }

  #eventsList > div {
    width: auto;
  }

  #charName {
    width: 100%;
  }

  #navigationPanel input, #navigationSubpanel > a {
    margin: 6px 2px;
  }

  .playerLinksColumn {
    width: 100%;
  }

  .playerInfoColumn {
    width: 100%;
  }

  .playerInfoColumn > table {
    margin: 10px 20px;
  }

  .accessListColumn {
    width: 100%;
  }

  .locationDescription > div {
    display: inline-block;
    width: 100%;
  }

  .locationDescription {
    text-align: center;
  }

  .locationDescriptionRaws {
    margin: 20px 0;
    max-width: 100%;
  }

  .locationDescriptionRawsInside {
    display: inline-block;
  }

  .locationDescriptionTerrain {
    float: none;
  }

  .skillsColumn {
    width: 100%;
  }

  .huntingContainer div {
    width: 100%;
    margin: 10px 0;
  }

  .domesticationAnimals, .domesticationPanel {
    width: 100%;
  }
}

@import "object-actions";
/**
 * Bootstrap-compliant elements
 */

.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table td, .table th {
  padding: 3px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #444;
}

.table-condensed {

}

.sortable-object-placeholder {
  height: 38px;
  background-color: #444;
}

/*
 * jQuery UI code
 */

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.ui-helper-reset {
  border: 0;
  font-size: 100%;
  line-height: 1.3;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

.ui-helper-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.ui-helper-clearfix {
  display: block;
}

* html .ui-helper-clearfix {
  height: 1%;
}

.ui-helper-zfix {
  filter: Alpha(Opacity=0);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ui-state-disabled {
  cursor: default !important;
}

.ui-icon {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}

.ui-widget-overlay {
  background: #aaa;
  filter: Alpha(Opacity=30);
  height: 100%;
  left: 0;
  opacity: .30;
  position: absolute;
  top: 0;
  width: 100%;
}

.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}

.ui-widget-content {
  background: #fff;
  border: 1px solid #aaa;
  color: #222;
}

.ui-widget-content a {
  color: #222;
}

.ui-widget-header {
  background: #ccc;
  border: 1px solid #aaa;
  color: #222;
  font-weight: 700;
}

.ui-widget-header a {
  color: #222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #e6e6e6;
  border: 1px solid #d3d3d3;
  color: #555;
  font-weight: 400;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #dadada;
  border: 1px solid #999;
  color: #212121;
  font-weight: 400;
}

.ui-state-hover a, .ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #fff;
  border: 1px solid #aaa;
  color: #212121;
  font-weight: 400;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

.ui-widget :active {
  outline: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #fbf9ee;
  border: 1px solid #fcefa1;
  color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  background: #fef1ec;
  border: 1px solid #cd0a0a;
  color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: 700;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  filter: Alpha(Opacity=70);
  font-weight: 400;
  opacity: .7;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  background-image: none;
  filter: Alpha(Opacity=35);
  opacity: .35;
}

.ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

.ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-corner-top {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ui-corner-bottom {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-corner-right {
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ui-corner-left {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ui-widget-shadow {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #aaa;
  border-radius: 8px;
  filter: Alpha(Opacity=30);
  margin: -8px 0 0 -8px;
  opacity: .30;
  padding: 8px;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  display: block;
  font-size: .1px;
  position: absolute;
  z-index: 99999;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  left: 0;
  top: -5px;
  width: 100%;
}

.ui-resizable-s {
  bottom: -5px;
  cursor: s-resize;
  height: 7px;
  left: 0;
  width: 100%;
}

.ui-resizable-e {
  cursor: e-resize;
  height: 100%;
  right: -5px;
  top: 0;
  width: 7px;
}

.ui-resizable-w {
  cursor: w-resize;
  height: 100%;
  left: -5px;
  top: 0;
  width: 7px;
}

.ui-resizable-se {
  bottom: 1px;
  cursor: se-resize;
  height: 12px;
  right: 1px;
  width: 12px;
}

.ui-resizable-sw {
  bottom: -5px;
  cursor: sw-resize;
  height: 9px;
  left: -5px;
  width: 9px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  height: 9px;
  left: -5px;
  top: -5px;
  width: 9px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  height: 9px;
  right: -5px;
  top: -5px;
  width: 9px;
}

.ui-selectable-helper {
  border: 1px dotted #000;
  position: absolute;
  z-index: 100;
}

.ui-accordion {
  width: 100%;
}

.ui-accordion .ui-accordion-header {
  cursor: pointer;
  margin-top: 1px;
  position: relative;
  zoom: 1;
}

.ui-accordion .ui-accordion-li-fix {
  display: inline;
}

.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}

.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em .7em;
}

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
  left: .5em;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ui-accordion .ui-accordion-content {
  border-top: 0;
  display: none;
  margin-bottom: 2px;
  margin-top: -2px;
  overflow: auto;
  padding: 1em 2.2em;
  position: relative;
  top: 1px;
  zoom: 1;
}

.ui-accordion .ui-accordion-content-active {
  display: block;
}

.ui-autocomplete {
  cursor: default;
  position: absolute;
}

* html .ui-autocomplete {
  width: 1px;
}

.ui-menu {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 2px;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  zoom: 1;
}

.ui-menu .ui-menu-item a {
  display: block;
  line-height: 1.5;
  padding: .2em .4em;
  text-decoration: none;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: 400;
  margin: -1px;
}

.ui-button {
  cursor: pointer;
  display: inline-block;
  margin-right: .1em;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  zoom: 1;
}

.ui-button-icon-only {
  width: 2.2em;
}

button.ui-button-icon-only {
  width: 2.4em;
}

.ui-button-icons-only {
  width: 3.4em;
}

button.ui-button-icons-only {
  width: 3.7em;
}

.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}

.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

input.ui-button {
  padding: .4em 1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

.ui-buttonset {
  margin-right: 7px;
}

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ui-dialog {
  overflow: hidden;
  padding: .2em;
  position: absolute;
  width: 300px;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .5em 1em .3em;
  position: relative;
}

.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 16px .2em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  height: 18px;
  margin: -10px 0 0;
  padding: 1px;
  position: absolute;
  right: .3em;
  top: 50%;
  width: 19px;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  background: none;
  border: 0;
  overflow: auto;
  padding: .5em 1em;
  position: relative;
  zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
  background-image: none;
  border-width: 1px 0 0;
  margin: .5em 0 0;
  padding: .3em 1em .5em .4em;
  text-align: left;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
  cursor: pointer;
  margin: .5em .4em .5em 0;
}

.ui-dialog .ui-resizable-se {
  bottom: 3px;
  height: 14px;
  right: 3px;
  width: 14px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  cursor: default;
  height: 1.2em;
  position: absolute;
  width: 1.2em;
  z-index: 2;
}

.ui-slider .ui-slider-range {
  background-position: 0 0;
  border: 0;
  display: block;
  font-size: .7em;
  position: absolute;
  z-index: 1;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.6em;
  top: -.3em;
}

.ui-slider-horizontal .ui-slider-range {
  height: 100%;
  top: 0;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  height: 100px;
  width: .8em;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-bottom: -.6em;
  margin-left: 0;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.ui-tabs {
  padding: .2em;
  position: relative;
  zoom: 1;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
  border-bottom: 0 !important;
  float: left;
  list-style: none;
  margin: 0 .2em 1px 0;
  padding: 0;
  position: relative;
  top: 1px;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  background: none;
  border-width: 0;
  display: block;
  padding: 1em 1.4em;
}

.ui-tabs .ui-tabs-hide {
  display: none !important;
}

.ui-datepicker {
  display: none;
  padding: .2em .2em 0;
  width: 17em;
}

.ui-datepicker .ui-datepicker-header {
  padding: .2em 0;
  position: relative;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 1.8em;
  position: absolute;
  top: 2px;
  width: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  margin: 0 2.3em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker table {
  border-collapse: collapse;
  font-size: .9em;
  margin: 0 0 .4em;
  width: 100%;
}

.ui-datepicker th {
  border: 0;
  font-weight: 700;
  padding: .7em .3em;
  text-align: center;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: .7em 0 0;
  padding: 0 .2em;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  cursor: pointer;
  float: right;
  margin: .5em .2em .4em;
  overflow: visible;
  padding: .2em .6em .3em;
  width: auto;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  margin: 0 auto .4em;
  width: 95%;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  left: auto;
  right: 2px;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  left: auto;
  right: 1px;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 1px;
  border-right-width: 0;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 1px;
  border-right-width: 0;
}

.ui-datepicker-cover {
  display: block;
  filter: mask();
  height: 200px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 200px;
  z-index: -1;
}

.ui-progressbar {
  height: 2em;
  text-align: left;
}

.ui-progressbar .ui-progressbar-value {
  height: 100%;
  margin: -1px;
}
